<!--The content below is only a placeholder and can be replaced.-->
<div style="color:white; background-color: purple; padding: 10px; "> 
  <h2 style="text-align:center; margin-top: 20px; ">
    User Management Angular App ...! </h2> 
  </div> 
  <hr/> 
  <div class="container"> 
    <div class="row"> 
      <div class="col-md-8"> 
        <router-outlet></router-outlet> 
      </div>
      <div> 
        <footer>
        <span class="text-danger">
        <strong>This site is copyright &copy; to MY DREAMZ COMPANY. All rights are reserved here ..!
        </strong></span>
    </footer> 
      </div>
    </div>